.Heading{
    font-size: 2.95rem;
    font-family:sans-serif;
    text-transform:capitalize;
    z-index: 3;
    color: #fff;
  }

  .LoginScreen{
    display: flex;
    width: 100%;
    display: flex;
align-items: center;
flex-direction: column;
justify-content: center;
  }